template(name="futurizator")
  .css2stylus.converter.container
    .row
      .col-lg-12
        h1 Convert whole project to CoffeeScript + Stylus + Jade
        p: input.files(type="file" name="files[]" multiple directory webkitdirectory mozdirectory)
        .errors
          each errors
            .alert.alert-danger.fade.in
              button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
              p #{.}
        p * Requires Chrome for preserving directory structure
        p * UTF-8 encoding assumed
        //.drop-area.well Drop your entire project directory here