template(name="css2stylus")
  .css2stylus.converter.container
    .row
      .col-lg-6.input
        h2 #{tool.from}
        textarea
        button.load-sample Load sample
      .col-lg-6.output
        h2 #{tool.to}
        textarea
        form.options.form-inline
          .checkbox
            label
              input(type="checkbox" name="doPrefix" checked)
              | &nbsp;Keep vendor prefixes
          | &nbsp;&nbsp;
          .checkbox
            label
              input(type="checkbox" name="cssSyntax")
              | &nbsp;Use CSS syntax
