template(name="css2stylus")
  .css2stylus.converter.container
    .row
      .col-lg-6.input
        h2
          | #{tool.from}
          | &nbsp;
          a.load-sample(href="#") Load sample
        textarea
      .col-lg-6.output
        h2
          +social
          | #{tool.to}
        textarea
        form.options.form-inline
          .checkbox
            label
              input(type="checkbox" name="doPrefix" checked)
              | &nbsp;Keep vendor prefixes
          | &nbsp;&nbsp;
          .checkbox
            label
              input(type="checkbox" name="cssSyntax")
              | &nbsp;Use CSS syntax
