template(name="html2jade")
  .html2jade.converter.container
    .row
      .col-lg-6.input
        h2
          | #{tool.from}
          | &nbsp;
          a.load-sample(href="#") Load sample
        textarea
        .entity-encoder
      .col-lg-6.output
        h2
          +social
          | #{tool.to}
        textarea
        form.options.form-inline
