::selection
  color: #222;
  background: #D6EDFF;

.fb-like
  top: -4px;

.github-button-wrapper
  padding 0 15px
  iframe
    padding 5px

.dropdown-menu > li
  > a.text-muted
    color #999999
  > a:hover, > a:focus
    color #ffffff

.fb_iframe_widget
  iframe
    width 57px
    height 61px

