template(name="layout")
  nav.navbar.navbar-default(role="navigation")
    .container
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") SwissKnife
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              | Testers
              | &nbsp;
              b.caret
            ul.dropdown-menu
              li
                a.text-muted(href="#") Regex
              li
                a.text-muted(href="#") Xpath
              li
                a.text-muted(href="#") SQL
              li.divider
              li: a(href="#") Suggest new
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              | Converters
              | &nbsp;
              b.caret
            ul.dropdown-menu
              li: a.text-muted(href="#") CSS
              li: a.text-muted(href="#") HTML
              li: a.text-muted(href="#") JavaScript
              li.divider
              li: a(href="#") Suggest new
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              | Beautifiers
              | &nbsp;
              b.caret
            ul.dropdown-menu
              li: a.text-muted(href="#") CoffeeScript
              li: a.text-muted(href="#") CSS
              li: a.text-muted(href="#") HTML
              li: a.text-muted(href="#") Handlebars
              li: a.text-muted(href="#") Jade
              li: a.text-muted(href="#") JavaScript
              li.divider
              li: a(href="#") Suggest new
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              | Pickers
              | &nbsp;
              b.caret
            ul.dropdown-menu
              li: a(href="#") Character
              li.divider
              li: a.text-muted(href="#") Color
              li.divider
              li: a(href="#") Suggest new
        //ul.nav.navbar-nav.navbar-right
        //    li
        //      a(href="#") About
  .container
    +yield