.container.index
  font-size 18px
  .well
    h1
      margin-top 0
  .indentation-count
    width 30px
    height 30px
    text-align center
    color darkslategrey
    border solid
    border-width 1px
  span
    float right
  label
    font-weight normal
    cursor pointer
  input[type="file"]
    display inline

