template(name="index")
  .container.index
    .row
     .col-lg-6
        h1 Free online code <br><strong>converters and beautifiers</strong>
        .alert.alert-success
          strong Your data is safe.
          | &nbsp;
          | Everything works in your browser.
        p
          | We're adding new converters rather fast. To make it even faster, you can send us a <a href="https://github.com/DenisGorbachev/swissknife">pull request on Github</a>.
        h3 Coming soon
        ul
          li Magic converter with built-in language detection
          li Autoconvert on browser page (for Github and other sites)
          li Batch convert & beautify
          li Save & restore settings
          li Offline app
          li Mobile HTML5 app
          li: a(href="https://github.com/DenisGorbachev/swissknife/issues/new") Suggest new
     .col-lg-6
        .well
          h1 Why?
          p.
            Programming languages <strong>evolve fast</strong>, but converters from old to new ones are stuck in <strong>Middle Ages</strong>.
              Some of them are:
          ol
            li Insecure — require sending your data to server.
            li Inflexible — restrict to vendor defaults.
            li Immature — can't do batch conversion or process file uploads.
          p.
            Yet, <strong>converters are the bridge</strong> between past and future.<br/>
              Many programmers are stuck with old languages because it isn't easy to convert existing codebase.
              This must be fixed.
          p: strong Better converters = broader adoption of better languages.
          +social
