template(name="index")
  h1 Free online tools for programmers
  p
    | Can you imagine a single place for all programming needs? Well, here you are.
  p
    | SwissKnife is an upcoming collection of tools like testers, converters, beautifiers and pickers. All <strong>free to use</strong>, right inside your browser.
  p
    | Right now the only working tool is "<a href="/pickers/character">Character picker</a>". However, you can suggest a new one, or even send us a pull request on Github.
  .alert.alert-success
    strong Your data is safe!
    | &nbsp;
    | Everything works in your browser, nothing is sent to server.
  h3 Coming soon
  ul
    li <strong>More tools</strong>
    li Save & Load
    li Offline support
    li Mobile support (as HTML5 app)
