template(name="index")
  .container.index
    .row
      .col-lg-8.col-lg-offset-2
        h1 <strong>Quux</strong>, free online tools for programmers
        p.
          You've recently overheard a talk about "Quux zone", inhabited by some... controversial characters. Though not exactly outlaws, they do tricks that some CS professors equal to cheating. For example:
        ul
          li
            a(href="/convert") Convert JavaScript to CoffeeScript
            | &nbsp;(or CSS to Stylus, or HTML to Jade)
          li
            a(href="/encrypt-and-decrypt") Encrypt and decrypt messages
          li
            a(href="/validate") Validate
            | &nbsp;and&nbsp;
            a(href="/beautify") beautify
            | &nbsp;code
          li
            a(href="/validate") Find Unicode character by its shape
        p.
          Of all quuxes, <strong>Priest</strong> is the most vocal one. Nobody knows about his past, though some say he employed ugly hacks in arcane languages to get his systems working. Even if it were true, Priest is another man now. He preaches the cleanest programming patterns, and even helps his followers to <a href="/convert">convert code</a> written in old languages to new ones.
        p.
          A direct contrast to upstanding Priest is an aged couple of <strong>Bob and Alice</strong>. They once worked in a place so loud they could only communicate via handwritten notes. After moving to Quux, they liked the surrounding quietness so much they continued the habit of writing instead of talking just to preserve the silence. However odd that habit may seem, it has led them to develop a skill to quickly encrypt or decrypt any message inside their heads — which they generously do even for strangers who ask politely.
        p.
          The quiet couple is admired by everyone except <strong>Judge</strong>. He had a wife once, but she often left trailing commas around the house, which troubled her idealistic and stern husband. After divorce, his only pleasure in life is to <a href="/validate">validate data structures</a> in JSON and XML, carefully sifting through entities and characters.
        p.
          There is another man in Quux who shares Judge's fondness for letters and symbols — <strong>Mr. Hao, the calligrapher</strong>. When he is not busy devising new characters and fonts, he entertains himself by helping people <a href="/lookup">lookup Unicode characters</a> by their shape.
        p.
          His hobby is adored by <a href="/beautify">Ms. Lane</a>, the most amiable inhabitant of Quux. Her beauty is