template(name="index")
  .row
   .col-lg-6
      h1 Free online tools for programmers
      p
        | Can you imagine a single place for all programming needs? SwissKnife is exactly this: an upcoming collection of tools like testers, converters, beautifiers and pickers — absolutely <strong>free to use</strong>.
      .alert.alert-success
        strong Your data is safe.
        | &nbsp;
        | Everything works in your browser, nothing is sent to server.
      p
        | Right now the only working tool is "<a href="/pickers/character">Character picker</a>". However, we're adding new ones rather fast. To make it even faster, you can send us a <a href="https://github.com/DenisGorbachev/swissknife">pull request on Github</a>.
      h3 Coming soon
      ul
        li <strong>More tools</strong>
        li Save & Load
        li Offline support
        li Mobile support (as HTML5 app)
