template(name="convert")
  .container.convert
    //.row
    //  .col-lg-12
    //    h1 #{name}
    .row
      .col-lg-6.input
        h2 #{tool.from}
        textarea
        button.load-sample Load sample
      .col-lg-6.output
        h2 #{tool.to}
        textarea